html {
    font-family: "Montserrat", sans-serif;
    background-color: #F6F3EE;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.5vw;
    font-weight: 500;
}

h2 {
    font-size: 4vw;
    font-weight: 800;
}

button {
    font-family: "Montserrat", sans-serif;
    border-radius: 71px;
    font-size: 1.4vw;
    font-weight: 700;
    background-color: #A2BDDB;
    color: #ffffff;
    padding: 1.3vw 2.5vw;
    margin-left: 8vw;
    border: 0;
    float: left;
    margin-top: -5vw;
    cursor: pointer;
}


/*--------------PRIMERA SECCIÓN----------*/

.seccion-1 {
    margin-top: -1vw;
}

.subtitulos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40vw;
}

.subtitulos h5 {
    font-size: 2vw;
    color: #474747;
    font-weight: 500;
}

h1 {
    font-size: 7.5vw;
    color: #93B95A;
    margin-left: 8vw;
    width: 40%;
    font-weight: 800;
    line-height: 90%;
}

img.piel {
    width: 33vw;
    margin-left: 60vw;
    margin-top: -35vw;
}



/*-----------SEGUNDA SECCIÓN--------*/
.seccion-2 {
    margin-top: -5vw;
}

.hoja {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 14vw;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cuadrado {
    position: absolute;
    width: 50vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F3EE;
    top: 58vw;
    z-index: 2;
    left: 23.5vw;
}


.cuadrado h2 {
    position: relative;
    top: 1vw;
    z-index: 3;
    color: #A2BDDB;
    bottom: 1vw;
}

.cuadrado h4 {
    position: relative;
    font-size: 2.3vw;
    font-weight: 500;
    z-index: 3;
    color: #A2BDDB;
    margin-top: -0.5vw;
    display: flex;
    justify-content: center;
}


/*------------TERCERA SECCIÓN-------*/

.seccion-3 {
    margin: 10vw 0 0 11vw;
}

.seccion-3 h2 {
    width: 40vw;
    height: 5vw;
    color: #9E8CD0;
}

.seccion-3 p {
    margin-top: -2vw;
    width: 79vw;
    height: 20vw;
}

/*----------ARCOIRIS 1---------*/

.arcoiris {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

/*------------CUARTA SECCIÓN---------*/

.seccion-4 {
    position: relative;
    z-index: 2;
    margin: -80vw 0 0 8vw;

}

.violeta {
    justify-content: center;
    background-color: #9E8CD0;
    width: 85vw;
    height: 40vw;
}

.seccion-4 h2 {
    color: #fff;
    margin-top: -32vw;
    margin-left: 12vw;
    width: 70vw;
    height: 5vw;
}

.seccion-4 p {
    margin-top: -1vw;
    margin-left: 12vw;
    width: 60vw;
    height: 20vw;
    color: #fff;
    text-align: center;
}

.seccion-4 a {
    color: #fff;
    margin-left: 0vw;
    font-weight: 700;
}


/*-----------QUINTA SECCIÓN-----------*/

.seccion-5 {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 80vw;
    background-color: #A2BDDB;
    margin-top: 17vw;
}

.seccion-5 h2 {
    display: flex;
    position: relative;
    z-index: 2;
    color: #F6F3EE;
    margin-left: 10vw;
    padding-top: 8vw;
}

.seccion-5 p {
    position: relative;
    z-index: 2;
    margin: -2vw 0 0 10vw;
    color: #F6F3EE;
    width: 70vw;
}

.imagenes {
    display: flex;
    gap: 3vw;
    margin-top: 4vw;
    flex-direction: row;
    position: relative;
    z-index: 2;
    margin-left: 10vw;
    margin-bottom: 4vw;
}

.imagenes img {
    width: 24vw;
    height: 30vw;
}

.seccion-5 a {
    position: relative;
    z-index: 2;
    margin-left: 35vw;
    color: #F6F3EE;
    font-weight: 700;
    font-size: 1.7vw;
}


/*-----------SEXTA SECCIÓN------------*/

.seccion-6 h2 {
    position: relative;
    z-index: 2;
    color: #9E8CD0;
    margin-top: -330vw;
    margin-left: 10vw;
    width: 30vw;
    height: 5vw;
}

.seccion-6 p {
    position: relative;
    z-index: 2;
    margin-left: 10vw;
    margin-top: -2vw;
    width: 78.5vw;
    height: 30vw;
}

.seccion-6 a {
    color: #9E8CD0;
    font-weight: 700;
    font-size: 1.7vw;
}


/*------------------ARCOIRIS 2-----------------*/

.arcoiris2 {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 340vw;
    margin-left: 0vw;
    top: 0vw;
}


/*--------------SÉPTIMA SECCIÓN-----------------*/

.seccion-7 {
    width: 100%;
    height: 80vw;
}

.violeta2 {
    position: relative;
    z-index: 2;
    background-color: #9E8CD0;
    width: 85vw;
    height: 290vw;
    margin-left: 7.1vw;
    top: 1vw;
}

.seccion-7 h2 {
    position: relative;
    z-index: 2;
    color: #F6F3EE;
    top: -285vw;
    left: 35vw;
    width: 30vw;
    height: 5vw;
}

.seccion-7 h3 {
    position: relative;
    z-index: 2;
    color: #F6F3EE;
    font-weight: 600;
    top: -285vw;
    font-size: 3.6vw;
    left: 36vw;
    width: 45vw;
}

.redes {
    display: flex;
    position: relative;
    align-items: center;
    z-index: 2;
    top: -283vw;
}

.redes1,
.redes2,
.redes3,
.redes4,
.redes5,
.redes6,
.redes7 {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.redes1,
.redes3,
.redes5,
.redes7 {
    align-items: flex-start;
    margin-left: 15vw;

}

.redes2,
.redes4,
.redes6 {
    align-items: flex-end;
    margin-left: 65vw;
}


.text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-left: 5vw;
    margin-top: 5vw;
}

.text2 {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-left: -70vw;
    margin-bottom: 10vw;
}


.text h2,
.text2 h2 {
    display: flex;
    position: relative;
    align-items: left;
    justify-content: left;
    z-index: 2;
    top: 0vw;
    font-size: 3vw;
    left: 0vw;
    width: 100%;
    font-weight: 700;
}


.text p,
.text2 p {
    margin-top: -2vw;
    color: #474747;
    width: 46vw;
    font-size: 1.3vw;

}

.text button,
.text2 button {
    margin-top: 1vw;
    justify-content: left;
    margin-left: 0vw;
}

.text2 button {
    margin-left: -30vw;
}

.no-robots{
    margin-bottom: 7vw;
}


/*----------------OCTAVA SECCIÓN-----------------*/

.seccion-8 {
    width: 79vw;
    height: 130vw;
    margin-left: 15vw;
    margin-top: 40vw;
    align-items: center;
    justify-content: center;
}

.seccion-8 h3 {
    position: relative;
    z-index: 2;
    color: #F6F3EE;
    font-weight: 700;
    font-size: 3.6vw;
}

.fotos {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    left: -5vw;
}

.fotos img {
    width: 60vw;
}
